.document-editor{
    background: red;
  border: 1px solid var(--ck-color-base-border); 
    width: 215.9mm;
  .ck-toolbar_grouping{
    /* Make sure the toolbar container is always above the editable. */
    z-index: 1; 
    /* Create the illusion of the toolbar floating over the editable. */
    box-shadow: 0 0 5px hsla( 0,0%,0%,.2 ); 
    /* Use the CKEditor CSS variables to keep the UI consistent. */
    border-top: 0 ;
    border-bottom: 1px solid var(--ck-color-toolbar-border);

  }
  .ck-editor__editable{  
    min-height: 279.4mm;
    padding: 24.99mm 30mm;
    //border: 1px hsl( 0,0%,82.7% ) solid;
    border:none;
    border-radius: var(--ck-border-radius);
    background: white;
    //box-shadow: 0 0 5px hsla( 0,0%,0%,.1 );
    margin: 0   ;
  }
  .ck-content, .ck-heading-dropdown .ck-list .ck-button__label {
    font: 16px/1.6 "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .ck-heading-dropdown .ck-list .ck-button__label {
    line-height: calc( 1.7 * var(--ck-line-height-base) * var(--ck-font-size-base) );
    min-width: 6em;
  }
  .ck-heading-dropdown .ck-list .ck-button:not(.ck-heading_paragraph) .ck-button__label {
    transform: scale(0.8);
    transform-origin: left;
  }
  .ck-font-size-dropdown{
    .ck-dropdown__panel{
      width: 75px;
      overflow-x: hidden;
      max-height: 250px;
      overflow-y: auto;
      button{
        span{ 
          font-size: 14px !important ;
        }
      }
    }
  } 
  .ck-dropdown__panel{  
    max-height: 250px;
    overflow-y: auto; 
    overflow-x: hidden;
  }
}